<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>


<body>

    <div class="container">
        <div class="paragraphs">
            <h1>Welcome to Better World Employment Services</h1>
            <p>Bridging Opportunities, Building Futures: Nepal's Employment Revolution.</p>
            <button onclick="location.href='/about'" style="padding: 10px 20px; background-color: #3498db; border: none; color: #fff; font-size: 16px; cursor: pointer; border-radius: 5px;">Learn More</button>
        </div>
        <div class="image">
            <img src="/static/image/home.png" alt="Image">
        </div>
    </div>

</body>
</html>
