<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/privacy.css">
</head>
<body>
  
  
  

    <div class="container">
          <header>
      <h1>Privacy Policy</h1>
        </header>
        <section>
            <h2>Privacy Policy for BWE Services Job Portal</h2>
            <p>Our main priority at BWE Services is the privacy of our visitors. This Privacy Policy document outlines the types of information collected and recorded by BWE Services and how we use it.</p>
            
            <h3>Data Collection</h3>
            <p>We collect personal information such as name, email address, and contact details when you register for an account on our platform. This information is used solely for the purpose of providing our services and communicating with you.</p>
            
            <h3>Use of Information</h3>
            <p>Any information collected is used to personalize your experience, improve our website, and provide our services to you. We do not share your personal information with third parties unless required by law or with your explicit consent.</p>
            
            <h3>Cookies</h3>
            <p>Our website may use cookies to enhance your browsing experience. You have the option to accept or decline these cookies. However, please note that declining cookies may limit certain functionalities of the site.</p>
            
            <h3>Security</h3>
            <p>We prioritize the security of your personal information and take appropriate measures to protect it from unauthorized access, alteration, disclosure, or destruction.</p>
            
            <h3>Third-Party Links</h3>
            <p>Our website may contain links to third-party websites. Please note that we have no control over the content and practices of these sites, and we cannot accept responsibility or liability for their respective privacy policies.</p>
            
            <h3>Changes to This Policy</h3>
            <p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the updated policy on our website.</p>
        

    </div>

</body>
</html>
